* {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    ;
}

:root {
    --maincolor: #e4b519;
    --content-color: #f08b06;
}

.txtcolor {
    color: var(--maincolor);

}

body {
    background-image: url('./assets/mainbg.avif');
    background-size: cover;
    background-position: center;
    height: 180vh;
    width: 100vw;
    margin: 0;

}

.content {

    /* border: 2px solid orange; */
    width: fit-content;
}